<div #content class="container">
  <div class="filter row align-items-center">
    <div class="col-12 align-content-center">
      <app-filtros-pagina-productos
        (infoProducto)="onInfoProducto($event)"
      ></app-filtros-pagina-productos>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col-3 align-self-start">
      <app-card-producto [infoProducto]="infoProducto"></app-card-producto>
    </div>
    <div class="col-9">
      <div class="row justify-content-evenly">
        <div class="col-4">
          <app-circular [info]="infoCirculo"></app-circular>
        </div>
        <div class="col-4">
          <app-bar-horizontal-v2
            [dataBarHorizontal]="dataBarHorizontal"
            [titulo]="tituloBarHorizontal"
          ></app-bar-horizontal-v2>
        </div>
        <div class="col-4">
          <app-word-cloud [dataWordCloud]="dataWordCloud"></app-word-cloud>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <app-tabla-comentarios
          [comentarios]="dataComentarios"
          [filtro]="filtro"
        ></app-tabla-comentarios>
      </div>
    </div>
  </div>
</div>
