.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 280px;
  transition: width 0.3s ease;
}

.mat-sidenav-content {
  transition: margin-left 0.3s ease;
}


.mat-sidenav {
  padding-top: 64px;
  /* Ajusta el valor según la altura del mat-toolbar */
}

.fixed-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
}

.toolbar-space {
  height: 64px;
  /* Ajusta el valor según la altura del mat-toolbar */
}

.content {
  /* margin-top: 64px; */
  height: 64px;
}


.center {
  display: flex; 
  justify-content: center; 
  align-items: center;
}


/* +++++++ STYLES +++++++ */
.wrapper {
  height: calc(100vh);
  background: black;
}

.textlist{
  padding: 0;
}
.menuTituloPrincipal{
  margin-top: 30px;
  margin-bottom: 30px;
  vertical-align: center;
  text-align: center;
}
.menuTitulo{
  margin-top: 10px;
  margin-bottom: q0px;
  text-align: start;
  vertical-align: center;
}

.menuIcono{
  transform: scale(0.5);
}

.is-active {
  background-color: #4d4c6f;
  border-radius: 20px;    
}
mat-list-item:focus {
  background-color: #151342;
  border-radius: 20px;
}

.flex-container {
  margin-left: auto;
}