.titulocolor {
    color: #D0BCFF;
    text-align: center;
}

.parrafocolor {
    color: white;
}

.modalCargarData {
    min-height: 200px;
    min-width: 900px;
    margin-top: 20px;
    border-radius: 20px;
}