.titulocolor {
    color: #D0BCFF;
    text-align: center;
}

.parrafocolor {
    color: white;
}

.modalCargarData {
    min-height: 200px;
    min-width: 900px;
    max-height: 80vh;
    margin-top: 20px;
    border-radius: 20px;
}
.checkBox-margin{
    margin: 0 12px;
}
.checkBox-section {
    margin: 12px 0;
  }