.titulocolor{
    color: #D0BCFF;
    text-align: center;
}

.parrafocolor{
    color: white;
    text-align: center;
}
.hijo {
    position: absolute;/* aplicar a top y al margen izquierdo un valor negativo para completar el centrado del elemento hijo */
  }