.cardFiltros {
    margin-top: 20px;
    border-radius: 20px;
  
  }
  
.example-form-field {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #141218;
}

.example-form{
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: #141218;
}

.example-full-width {
  width: 100%;
}

.datecol {
  text-align: center;
}

.iconDescarga{
  border-radius: 20px;
  height: 60px;
  background-color: #141218;
}

.icon-center {
  font-size: xx-large; /* Ajusta el tamaño del ícono */
  height: fit-content;
  width: fit-content;
  margin: 0;
}
