<div class="cardFiltros">
    <div class="row align-items-center justify-content-evenly">
      <div class="col-3">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Buscar Producto</mat-label>
            <input type="text"
                   placeholder="Seleccione Uno"
                   aria-label="Producto"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   [(ngModel)]="selectedProduct">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  
            (optionSelected)="onProductSelected($event)"
            [displayWith]="displayOption">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option.nombre }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>      
      </div>
      <div class="col-3 datecol">
        <div class="row align-items-center justify-content-evenly">        
          <div class="col">
            <mat-form-field class="example-form-field">
              <mat-label>Rango de Fechas
              </mat-label>
              <mat-date-range-input
                [formGroup]="campaignOne"
                [rangePicker]="campaignOnePicker"
                [disabled]="selectedProduct === undefined || grafProductoService.cargando"
              >
                <input
                  matStartDate
                  placeholder="Start date"
                  formControlName="start"
                />
                <input matEndDate placeholder="End date" formControlName="end" />
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="campaignOnePicker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #campaignOnePicker>
                <mat-datepicker-actions>
                  <button mat-button matDatepickerCancel (click)="clearDates()">Cancel</button>
                  <button mat-raised-button color="primary" matDatepickerApply (click)="onDateSelect()" >Aplicar</button>
                </mat-datepicker-actions>
              </mat-date-range-picker>
            </mat-form-field>            
          </div>
          
          
        </div>      
      </div>
      
      <div class="col-6 datecol">
        <div class="row align-items-center justify-content-evenly">
          <div class="col-5 datecol">
            <mat-form-field class="example-form-field">
              <mat-label>Sentimiento</mat-label>
              <mat-select [(value)]="selecSentimiento" 
              (selectionChange)="onSelectSentimiento($event.value)"
              [disabled]="selectedProduct === undefined || grafProductoService.cargando">
                <mat-option >None</mat-option>
                <mat-option value="Positivo">Positivo</mat-option>
                <mat-option value="Neutro">Neutro</mat-option>
                <mat-option value="Negativo">Negativo</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5 datecol" *ngIf="isPageGeneral()">
            <mat-form-field class="example-form-field">
              <mat-label>Categoria</mat-label>
              <mat-select [(value)]="selecCategoria">
                <mat-option >None</mat-option>
                <mat-option value="option1">Option 1</mat-option>
                <mat-option value="option2">Option 2</mat-option>
                <mat-option value="option3">Option 3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-5 datecol" *ngIf="isPageProduct()">
            <mat-form-field class="example-form-field">
              <mat-label>Tema</mat-label>
              <mat-select [(value)]="selecTema" 
              (selectionChange)="onSelectTema($event.value)"
              [disabled]="selectedProduct === undefined || grafProductoService.cargando">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let tema of listaTemas let i = index " [value]="i">{{ tema }}</mat-option>
              </mat-select>
            </mat-form-field>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col" style="margin-top: 30px;" *ngIf="grafProductoService.cargando">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>