<div #content class="container">
  <div class="row align-items-center">
    <div class="col">
      <app-filtros-pagina-general></app-filtros-pagina-general>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-3">
      <app-circular [info]="infoCirculo"></app-circular>
    </div>
    <div class="col-3">
      <app-map-tree [dataTreeMap]="dataTreeMap"></app-map-tree>
    </div>
    <div class="col-3">
      <app-bar-horizontal-v2
              [dataBarHorizontal]="dataBarHorizontal"
              [titulo]="tituloBarHorizontal"
            ></app-bar-horizontal-v2>
    </div>
    <div class="col-3">
      <app-word-cloud [dataWordCloud]="dataWordCloud"></app-word-cloud>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-12">
      <app-bar-vertical 
      [dataBarFecha]="dataBarVertical"
      [titulo]="tituloBarVertical"></app-bar-vertical>
    </div>
  </div>
</div>
