<div class="container">
  <div class="row justify-content-evenly">
    <div class="col-3">
      <app-circular [info]="data"></app-circular>
    </div>
    <div class="col-3">
      <app-map-tree></app-map-tree>
    </div>
    <div class="col-3">
      <app-bar-horizontal></app-bar-horizontal>
    </div>    
    <div class="col-3">
      <app-map-tree></app-map-tree>
    </div>
  </div>
  <div class="row justify-content-evenly">
    <div class="col-12">
      <app-bar-vertical></app-bar-vertical>
    </div>
  </div>
</div>
